@model Proyek2_Bengkel.Models.ServiceDetail

@{
    ViewData["Title"] = "Hapus Data";
}

<h1>Hapus Data Rincian Servis</h1>

<h3>Anda yakin ingin menghapus data ini?</h3>
<div>
    <h4>Rincian Servis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SparePartId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SparePart.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Hapus Data" class="btn btn-danger" /> |
        <a asp-action="Index">Kembali ke Tabel</a>
    </form>
</div>
